body{
    margin: 0;
    color: white;
}
.navi{
    display: flex;
    flex-wrap: wrap;
}
.gradient1{
    background: #cc2b5e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #753a88, #cc2b5e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      
}
ul{
    margin: 0 10px;
    width: 100%;
    top: 0;
    
}
li{
    list-style: none;
    display: inline-block;
    padding: 20px;
    margin: 0 10px;  
}
/* @media all and (max-width: 550px) {
    li:last-child { display: none; }
} */

li:last-child{
    float: right;
}

@media all and (max-width: 650px) {
    hr { display: none; }
}

hr{
    
    margin: 20px 150px;
}

a{
    text-decoration: none;
    font-size: large;
    color: white;
}


.cover{   
    margin: 0 auto;
    padding: 0 auto;
    
}
.wrapper > img{
    width: 100%;
    max-width: 800px;
    min-width: 200px;
}

.wrapper{    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;   
    margin: 0 120px;
}
.box{   
    color: darkslategray;
    margin: 50px;
    padding: 20px;
    
}
.box:hover{
    transform: scale(1.25);
    transition: all 0.2s;
    opacity: 1;
}
.box > img{
    width: 100%;
    min-width: 100px;
}

.orange{
    display: flex;
    background-color: #292828;
    align-items: center;
    height: 8vh;
    
}
.orange p{
    margin-left: 30px;  
  }